*{
    margin-left:0%;
    margin-right:0%;
}

body{
    box-sizing: border-box;
    font-family:raleway;
    width:100%;
    margin-left:1%;
    margin-right:1%;
}

/** Marge externe a gauche et a droite du menu */
header {
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    
}

main{
    margin-left: 3%;
    margin-right: 3%;
}


/** */
header nav, header .conteneur-logo{
    width: 50%;
    
}

header .conteneur-logo a img{
    width: 20%;
}

/** Suppression de la mise en forme par defaut d'un lien */
header nav ul li a {
    text-decoration: none;
}

/** Suppression des listes a puces */
header nav ul li {
    list-style-type: none;
    margin-left: 2%;
    margin-right: 2%;
}

/** Changer la couleur des liens dans le menu de navigation */
header nav ul li a{
    color: black;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    font-size: 1em;
    font-weight:normal;
}

/** Changer la couleur des liens dans le menu de navigation */
header nav ul li a:hover{
    color: #0065FC;    
    border-top: 2px solid #0065FC;
}

header nav ul {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

header nav {
    display: flex;
    align-items: center;
}

/*-- Mise en page du titre du formulaire--*/
form{
    margin-bottom:2%;
}

.formulaire  h2{
    font-size:1.5em;
}

.formulaire p{
    font-weight: normal;
    font-size:1em;
}

/*--mise en page du formulaire--*/

form{
    display:flex;
    align-items:center;
    width:267px;
    border:2px solid #f2f2f2;
    border-radius:12px;
}

form i{
width:30px;
height:25px;
background-color:#f2f2f2;  
text-align:center;
border-radius:5px 0px 0px 5px;
padding-top:8px;
}

form  input  {
    font-size:0.8em;
    text-align:center;

}

form input[type="text"]{
    height:25px;
    font-weight:bold;
    border:none;
}

form  input[type="submit"]{
    height:33px;
    background-color:#0065fc;
    color:white;
    font-weight:bold;
    border-radius:0px 5px 5px 0px;
    border:none;
    cursor:pointer;
}

form a{
    display:none
}

/*--mise en page du filtres--*/

.filtres{
   width:80%;
    display:flex;
    justify-content:flex-start;
    align-items:baseline;
        
   }

.filtres .bloc{
    width:100%;
    display:flex;
    justify-content:space-around;
    align-items:baseline;
}

.filtres h3{
    font-size:1em;
    margin-right:3%;
}
   .filtres a{
       width:auto;
       list-style-type:none;
       text-decoration:none;
       color:black;
       font-size:0.8em;
       border: 1px solid #f2f2f2;
       line-height:2.5em;
       border-radius:25px 25px 25px 25px;
       margin-right:2%;
      
   }

   
.filtre{
    display:flex;
        align-items:center;
        justify-content:center;
}

.filtre i{
    color:#0065fc;
    background-color:#deebff;
    width:40px;
    height:40px;
    border-radius:50%;
    font-size:1.3em;
    display:flex;
    justify-content:center;
    align-items:center;
}
.filtre span{
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
    font-size: 1.2em;
}

.filtres a :hover{
    background-color:#deebff;
    cursor:pointer;
    border-radius:25px 25px 25px 25px;
}

 /*--mise en page information en bas du filtres--*/

.information{
    width:70%;
    display:flex;
    justify-content:flex-start;
    align-items:center;
    gap:10px;
   
}

.information i{
    font-size:0.7em;
    color:#0065FC;
    border:1px solid #f2f2f2;
    width:18px;
    height:18px;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    
}



/*--Mise en page hebergements marseille--*/

/*-- mise en page des blocs --*/
.heberg{
    display:flex;
    gap:20px;
    margin-bottom:30px;
}

.list_heb{
    display: flex;
    flex-direction: column;
    flex-basis: 70%;
    background-color: #f2f2f2;
    border-radius: 25px 25px 25px 25px;
}

.list_heb .title{
    margin-left:23px;
    
    
} 


.heberg a{
    text-decoration:none;
}

.heb_row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 2%;

}

.link_card{
    flex-basis: 30%;
    background-color: white;
    border-radius: 25px 25px 25px 25px;
    box-shadow: darkgray;
    border: 4px solid white;
    margin-bottom: 3%;
    align-items: center;
}


/*-- mise en page des cards--*/
.card{
    display:flex;
    flex-direction:column;
    max-height:300px;
}

/* .card :hover{
    width:101%;
} */

.card img{
    width:100%;
    height:170px;
    border-radius:25px 25px 0px 0px;
    object-fit:cover;
    overflow:hidden;
}



.libelle{
    margin-left:10px;
}

.card .libelle{
    line-height:1px;
    padding-bottom:10px;
    
}


.card h3{
    color:black;
    font-size:0.8em;

}

.card p{
    color :darkgray;
    font-weight:normal;
    font-size:0.7em;
}

.card span{ 
    font-weight:bold;
    color:black;
}

.card i{
    color:#0065fc;
    font-size:0.6em;
}

.card i[class="far fa-star"]{
    color:#f2f2f2;
}

/*-- mise en page "afficher plus"--*/

.heberg .afficher{
    width:30%;
    margin-left:23px;
    
}

.heberg .afficher a{
    color:black;
    font-weight:bold;
    font-size:1em;
}

.heberg .afficher a:hover{
    color:#0065fc;
}

/*--mise en page de la serie populaire--*/
.populaire{
    display:flex;
    flex-direction:column;
    flex-basis:32%;
    background-color:#f2f2f2;
    border-radius:25px 25px 25px 25px;
    padding-left:2%;
    padding-right:2%;
}

/*--mise en place du titre--*/
.title_pop{
    display:flex;
    justify-content:space-between;
    align-items:baseline;
    margin-left:10px;
}


/*-- mise en place du bloc car--*/

.pop-column{
    display:flex;
    flex-direction:column;
   
    

}

/*--mise en place des cards--*/

.pop_card{
    
    display:flex;
    height:180px;
    background-color:white;
    border-radius:25px 25px 25px 25px;
    line-height:3px;
    box-shadow:darkgray;
    border:4px solid white;
    margin-bottom:20px;
    
}


.pop_card img{
    width:40%;
    height:180px;
    border-radius:25px 0px 0px 25px;
    object-fit:cover;

}

.pop_libelle{
    padding-left:10px;
}



.pop_libelle h3{
    color:black;
    font-size:0.8em;
   
    

}

.pop_libelle p{
    color :darkgray;
    font-weight:normal;
    font-size:0.7em;
    padding-top:10px;
}

.pop_libelle i{
    color:#0065fc;
    font-size:0.6em;
    padding-top:80px;
    
    
}

.pop_libelle i[class="far fa-star"]{
    color:#f2f2f2;
}

.pop_libelle span{
    color:black;
    font-weight:bold;
}

/*--mise en place section activite--*/

.activity{
    display:flex;
    flex-direction:column;
    margin-bottom:30px;
}

.global_activity{
    width:100%;
    display:flex;
    justify-content:space-between;
   
}



.activity_one{
    width:24%;
    height:400px;
    margin-right:10px;
   
}

.activity_two{
    width:24%;
    height:400px;

    
}



.act_card_great{
    width:100%;
    height:400px;
    display:flex;
    flex-direction:column;
    background-color:white;
    border-radius:25px 25px 25px 25px;
    border:1px solid white;
    box-shadow:2px 2px 2px #f2f2f2;
   
}

.act_card_great img{
    width:100%;
    height:360px;
    border-radius:25px 25px 0px 0px;
    object-fit:cover;
}
.act_card_small{
    width:97%;
    height:194px;
    display:flex;
    flex-direction:column;
    background-color:white;
    border-radius:25px 25px 25px 25px;
    line-height:3px;
    border:1px solid white;
    margin-bottom:10px;
    box-shadow:2px 2px 2px #f2f2f2;
    
}


.act_card_small img{
    width:100%;
    height:153px;
    border-radius:25px 25px 0px 0px;
    object-fit:cover;
}

.activity a{
    text-decoration:none;
    font-size:1em;
}

.act_libelle{
    padding-left:10px;
}



.act_libelle h3{
    color:black;
    font-size:0.8em;
   

}

/*--mise en page du footer--*/
footer{
    width:100%;
    background-color:#f2f2f2;
    color:black;
}

.global_footer{
    display:flex;
    margin-left: 3%;
    margin-right: 3%;
}

footer a{
    text-decoration:none;
    color:black;
    font-weight:normal;
    font-size:0.9em;
}

footer .footer_one{
    width: 35%;
}

.footer_one a:hover{
    color:#0065fc;
}

/*--mise en page mobile--*/

@media (max-width:767px){


    /*--mise en page du header--*/

    header{
        flex-direction:column;
        justify-content:center;
        align-items:center;
        align-content:space-around;
        
    }

    .conteneur-logo{
        text-align:center;
        
    }

    header .conteneur-logo a img{
        width:45%;
    }

    header nav {
        width:100%;
        
    }

    header nav ul li{
        
    margin-left:0px;
    
    }

    header nav ul{
        justify-content:space-around;
        padding-left:0px;
        text-align:left;
        
    }

    header nav ul li a{
        padding-left:0px;
    }


    /*--mise en page du formulaire--*/

    .formulaire{
        width:100%;
        margin:auto;
        
    }

    .formulaire h1{
        width:76%;
        margin:auto;
        font-size:1.2em;
        text-align:center;
        margin-bottom:20px;
        
    }

    .formulaire p{
        width:70%;
        margin:auto;
        text-align:left;
        font-size:0.8em;
        margin-bottom:20px;
        
    }

    form{
    margin:auto;
    margin-bottom:20px;
    }

.filtres{
    width:100%;
    height:200px;
    margin:auto;
    flex-direction:column;
    margin-bottom:20px;
} 
    
.filtres h3{
    margin-left:14%;
    
}

.filtres .bloc{
    width:82%;
    margin:auto;
    height:200px;
flex-wrap:wrap;
justify-content:space-between;
padding-left:30px;

}

.information{
    width:75%;
    margin:auto;
    margin-bottom:15px;
        
}



.information p{
    font-size:0.8em;
}


/*--mise en page hebergement--*/
.heberg{
flex-direction:column-reverse;

}

.list_heb{
    background-color:white;
}

.list_heb .title{
    margin-left:13px;
}

.heb_row{
    
flex-direction:column;
background-color:#f2f2f2;
border-radius:25px 25px 25px 25px;
margin-bottom:20px;

}

.heberg .afficher{
    width:35%;
    margin-left:13px;
    
}

.populaire{
    border-radius:0px;
}


/*--mise en page activity--*/

.activity h3{
    margin-left:13px;
}

.global_activity{
flex-direction:column;
padding-top:15px;
}

.global_activity img{
    height:230px;
}

.activity_one{
    width:98%;
    height:282px;
    margin:auto;
    
}

.act_card_great{
    height:270px;
}


.activity_two{
    width:98%;
    margin:auto;
    height:564px;
}

.act_card_small{
    height:270px;
    width:100%;
}



/*--mise en page du footer--*/

.global_footer{
    width:94%;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    }

footer .footer_one{
    width:70%;
    height:150px;
    align-content:flex-start;
   line-height:10px;
    
}
}

/*--mise en page de la version tablette--*/

@media (min-width:768px) and (max-width:991px){

/*-- mise en page du header--*/

    header{
        margin-bottom:20px;
    }

    header .conteneur-logo a img{
        width:30%;
    }

    /*-- mise en page du formulaire--*/

    .formulaire{
        height:300px;
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        
    }

    .formulaire h1{
        width:70%;
        margin:auto;
        text-align:center;
    }

    .formulaire p{
            margin-bottom:20px;
    }

    form{
        width:322px;
    }

    form input{
        font-size:1em;
    }

    form input[type="text"]{
        height:40px;
    }

    form input[type="submit"]{
        height:43px;
    }

    form i{
        height:36px;
        
    }
        .filtres{
            width:100%;
            flex-direction:column;
            margin-bottom:20px;
            
        }

    .filtres h3{
        margin-left:13px;
    }

    /*--mise en page section hebergement--*/


    .heberg{
    flex-direction:column-reverse; 
    }

    .heb_row{
    flex-direction:column;

    }

    .card img{
        height:200px;
    }

    .card .libelle{
        line-height:3px;
    }

    .card h3{
        font-size:1em;
    }

    .card p{
        font-size:0.9em;
    }

    .card i{
        font-size:0.8em;
    }

    /*--mise en page de la partie populaire--*/

    .pop_card{
        height:220px;
    }

    .pop_card img{
        width:60%;
        height:220px;
    }


    .pop_libelle h3{
        font-size:1em;
    }

    .pop_libelle p{
        font-size:0.9em;
    }

    .pop_libelle i{
        font-size:0.8em;
    }

    /*--mise en page de la section activité--*/

    .global_activity{
        flex-direction:column;
        justify-content:space-around;
        
    }

    .global_activity h3{
        font-size:1em;
    }

    .activity_one{
        width:100%;
        height:310px;
    }

    .activity_two{
        width:100%;
        height:630px;
        display:flex;
        flex-direction:column;
        justify-content:space-around;
        margin-bottom:10px;

    }

    .act_card_great{
        width:98%;
        height:300px;
        margin:auto;
    }
    .act_card_great img, .act_card_small img{
        height:260px;
    }

    .act_card_small{
        width:98%;
        margin:auto;
        height:300px;
    }

    /*--mise en page du footer--*/

    .global_footer{
        text-align:center;
    
    }


    }


